/* CSS to style the colored divs of the rainbow */

/* Red */
#red {
  border-top-color: #f00; /* Sets border top color to red */
}

/* Orange */
#orange {
  border-top-color: #ffa500; /* Sets border top color to orange */
}

/* Yellow */
#yellow {
  border-top-color: #ff0; /* Sets border top color to yellow */
}

/* Green */
#green {
  border-top-color: #00bc3f; /* Sets border top color to green */
}

/* Blue */
#blue {
  border-top-color: #06f; /* Sets border top color to blue */
}

/* Indigo */
#indigo {
  border-top-color: #8a2be2; /* Sets border top color to indigo */
}

/* Violet */
#violet {
  border-top-color: #d300c9; /* Sets border top color to violet */
}

/* General styling for all colored divs */
div {
  border: 20px solid #000; /* Border width, type, and color */
  display: inline-block; /* Inline block positioning */
  min-width: 20em; /* Minimum width of the divs */
  min-height: 25em; /* Minimum height of the divs */
  border-radius: 50%; /* Rounded corners to make divs circular */
  border-left-color: transparent; /* Removes left border color */
  border-right-color: transparent; /* Removes right border color */
  border-bottom-color: transparent; /* Removes bottom border color */
}
